.nav-menu .nav-row .sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
    color: var(--nav-menu-button-color, #222);
    cursor: pointer;
    transition: 500ms;
}

.nav-menu .nav-row .sidebar-button:hover {
    color: var(--nav-menu-button-color-alt, #000);
}

/* ? MD */
@media (min-width: 768px) {
    /*  */
}

/* ? LG */
@media (min-width: 1024px) {
    .nav-menu :where(.sidebar, .sidebar-button) {
        display: none;
    }
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}

/* ? 3XL */
@media(min-width: 1920px){
    /*  */
}