/* * Sidebar */
.nav-menu .sidebar-button.open-btn {
    display: flex;
    align-items: center;
    flex-basis: 10%;
    min-height: 100%;
    cursor: pointer;
    color: var(--navmenu-button-color);
    text-decoration: none;
    box-sizing: border-box;
}

.nav-menu .sidebar-button .sidebar-icon {
    flex-basis: 100%;
    text-align: center;
}

/* * MD */
@media (min-width: 768px) {
    /**/
}

/* * LG */
@media (min-width: 1024px) {
    .nav-menu .sidebar,
    .nav-menu .sidebar-button.open-btn {
        display: none;
    }
}

/* * XL */
@media (min-width: 1200px) {
    /**/
}