@import 'sidebar.css';
@import 'collapsable.css';

.nav-menu{
    --color-one: #fff; /* * Title */
    --color-two: #ddd; /* * Buttons */
    --color-two-alternative: #000; /* * Active buttons */
    --color-three: #222; /* * Sidebar buttons */
    --color-three-alternative: #000; /* * Active buttons */
    --color-four: #222; /* * Background */
    --neon-color: #32B1DA;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 4.6rem;
    background: var(--color-four);
    font-family: verdana;
    z-index: 15;
    transition: 500ms;
    box-sizing: border-box;
}

.nav-menu.neon{
    box-shadow: 0 0 19px var(--neon-color);
}

.nav-menu .nav-row{
    flex-basis: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.nav-menu .nav-row:not(:first-of-type){
    display: none;
    justify-content: flex-end;
}

.nav-menu .nav-title{
    flex-basis: 80%;
    text-decoration: none;
    box-sizing: border-box;
}

.nav-menu .nav-title img{
    display: none;
}

.nav-menu .nav-title.logo img{
    display: inline-block;
    width: 100%;
    height: 4.6rem;
    text-align: center;
    object-fit: contain;
}

.nav-menu .nav-title h1{
    margin: 0;
    padding-right: 1rem;
    text-align: center;
    line-height: 4.6rem;
    font-size: 1rem;
    color: var(--color-one);
    box-sizing: border-box;
}

.nav-menu .nav-title.logo h1{
    display: none;
}

.nav-menu .menu-list{
    width: fit-content;
    display: none;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-menu .nav-link{
    display: inline-flex;
    align-items: center;
    height: 100%;
    color: var(--color-two);
    text-decoration: none;
    transition: 500ms;
}

.nav-menu .nav-link.active{
    color: var(--color-two-alternative);
}

.nav-menu .nav-link.no-text{
    font-size: 0;
}

.nav-menu .link-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 100%;
    font-size: 1rem;
}

.nav-menu .link-icon.left{
    margin-right: 1rem;
}

.nav-menu .no-text .link-icon.left{
    margin-right: 0;
}

.nav-menu .link-icon.right{
    position: absolute;
    right: 0;
    top: 0;
}

/* MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    .nav-menu{
        height: fit-content;
        max-height: fit-content;
        justify-content: space-between;
        padding: 0 10rem;
    }

    .nav-menu .nav-row{
        display: flex;
        height: 4.6rem;
    }

    .nav-menu .nav-row:first-of-type{
        flex-basis: 25%;
        justify-content: flex-start;
    }

    .nav-menu .nav-row:not(:first-of-type){
        display: flex;
        flex-basis: 50%;
        overflow: visible;
    }

    .nav-menu .nav-title{
        flex-basis: 100%;
        height: 100%;
    }

    .nav-menu .nav-title.logo img{
        height: 100%;
        object-position: left;
    }

    .nav-menu .nav-title h1{
        text-align: left;
    }
    
    .nav-menu .nav-search-bar{
        display: flex;
        flex-wrap: wrap;
        width: 25%;
        height: 100%;
        background: var(--color-two);
        border-radius: .25rem;
        overflow: hidden;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    }

    .nav-menu .nav-search-bar .nav-search-label{
        flex-basis: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .nav-menu .nav-search-bar .nav-search-input{
        flex-basis: calc(100% - (50px + 1rem));
        border: none;
        padding: .5rem;
        outline: none;
    }

    .nav-menu .menu-list{
        display: flex;
        list-style: none;
    }

    .nav-menu .menu-list > li{
        margin-left: 1rem;
    }

    .nav-menu .nav-link{
        width: max-content;
    }

    .nav-menu .nav-link:hover{
        color: var(--color-two-alternative);
    }
}

/* XL */
@media(min-width: 1200px){
    /**/
}